<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Библиотека' %>
    <%= f.number_field :library_id %>
  </div>

  <div class="field">
    <%= f.label :'Фамилия' %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :'Имя' %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :'Отчество' %>
    <%= f.text_field :patronymic %>
  </div>

  <div class="field">
    <%= f.label :'Дата рождения' %>
    <%= f.date_select :DOB %>
  </div>

  <div class="field">
    <%= f.label :'Дата принятия на работу' %>
    <%= f.date_select :employment_date %>
  </div>

  <div class="field">
    <%= f.label :'Должность' %>
    <%= f.text_field :post %>
  </div>

  <div class="field">
    <%= f.label :'Образование' %>
    <%= f.text_field :education %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
