<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="edit_table">

  <tr>
    <td><%= f.label :'Библиотека' %></td>
    <td><%= f.number_field :library_id %></td>
  </tr>

  <tr>
    <td><%= f.label :'Фамилия' %></td>
    <td><%= f.text_field :last_name %></td>
  </tr>

  <tr>
    <td><%= f.label :'Имя' %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>

  <tr>
    <td><%= f.label :'Отчество' %></td>
    <td><%= f.text_field :patronymic %></td>
  </tr>

  <tr>
    <td><%= f.label :'Дата рождения' %></td>
    <td><%= f.date_select :DOB %></td>
  </tr>

  <tr>
    <td><%= f.label :'Дата принятия на работу' %></td>
    <td><%= f.date_select :employment_date %></td>
  </tr>

  <tr>
    <td><%= f.label :'Должность' %></td>
    <td><%= f.text_field :post %></td>
  </tr>

  <tr>
    <td><%= f.label :'Образование' %></td>
    <td><%= f.text_field :education %></td>
  </tr>

</table>

<div class="actions">
  <%= f.submit('Сохранить') %>
</div>

<% end %>