<p id="notice"><%= notice %></p>

<h1 class = 'table_name'>Таблица: Libraries</h1>
<div><%= link_to "<button class = 'add_button' type='button'></button>".html_safe, new_library_path %></div>


<table class ='table_blur'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Number</th>
      <th>Name</th>
      <th>Address</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.id %></td>
        <td><%= library.number %></td>
        <td><%= library.name %></td>
        <td><%= library.address %></td>
        <td><%= link_to 'Посмотреть', library %></td>
        <td><%= link_to 'Изменить', edit_library_path(library) %></td>
        <td><%= link_to 'Удалить', library, method: :delete,
                        data: { confirm: 'Вы уверены, что хотите удалить запись?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>