<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../">RoRApplication</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="libraries">Библиотека<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="employees">Сотрудник</a>
      <a class="nav-item nav-link" href="subscribers">Абонент</a>
      <a class="nav-item nav-link" href="books">Книга</a>
      <a class="nav-item nav-link" href="deliveries">Выдача</a>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h1 class = 'table_name'>Таблица: Библиотека</h1>
<div><%= link_to "<button class = 'add_button' type='button'></button>".html_safe, new_library_path %></div>


<table class ='table_blur'>
  <thead>
    <tr>
      <th>Идентификатор</th>
      <th>Номер библиотеки</th>
      <th>Название</th>
      <th>Адрес</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.id %></td>
        <td><%= library.number %></td>
        <td><%= library.name %></td>
        <td><%= library.address %></td>
        <td><%= link_to 'Посмотреть', library %></td>
        <td><%= link_to 'Изменить', edit_library_path(library) %></td>
        <td><%= link_to 'Удалить', library, method: :delete,
                        data: { confirm: 'Вы уверены, что хотите удалить запись?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>