<p id="notice"><%= notice %></p>

<h1 class="table_name">Просмотр записи</h1>

<p>
  <strong>Идентификатор:</strong>
  <%= @library.id %>
</p>

<p>
  <strong>Номер библиотеки:</strong>
  <%= @library.number %>
</p>

<p>
  <strong>Название:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @library.address %>
</p>

<%= link_to 'Изменить', edit_library_path(@library) %> |
<%= link_to 'Назад', libraries_path %>
