<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @delivery.book_id %>
</p>

<p>
  <strong>Subscriber:</strong>
  <%= @delivery.subscriber_id %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @delivery.delivery_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @delivery.return_date %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
