<p id="notice"><%= notice %></p>

<p>
  <strong>Книга:</strong>
  <%= @delivery.book_id %>
</p>

<p>
  <strong>Абонент:</strong>
  <%= @delivery.subscriber_id %>
</p>

<p>
  <strong>Дата выдачи:</strong>
  <%= @delivery.delivery_date %>
</p>

<p>
  <strong>Дата возврата:</strong>
  <%= @delivery.return_date %>
</p>

<%= link_to 'Изменить', edit_delivery_path(@delivery) %> |
<%= link_to 'Назад', deliveries_path %>
