<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Библиотека' %>
    <%= f.number_field :library_id %>
  </div>

  <div class="field">
    <%= f.label :'Название книги' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :'Автор' %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :'Шифр' %>
    <%= f.text_field :cipher %>
  </div>

  <div class="field">
    <%= f.label :'Издательство' %>
    <%= f.text_field :publishing_house %>
  </div>

  <div class="field">
    <%= f.label :'Год издания' %>
    <%= f.number_field :publishing_year %>
  </div>

  <div class="field">
    <%= f.label :'Цена' %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :'Дата поступления' %>
    <%= f.date_select :receipt_date %>
  </div>

  <div class="actions">
    <%= f.submit('Сохранить') %>
  </div>
<% end %>
