<p id="notice"><%= notice %></p>

<p>
  <strong>Библиотека:</strong>
  <%= @book.library_id %>
</p>

<p>
  <strong>Название книги:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Шифр:</strong>
  <%= @book.cipher %>
</p>

<p>
  <strong>Издательство:</strong>
  <%= @book.publishing_house %>
</p>

<p>
  <strong>Год издания:</strong>
  <%= @book.publishing_year %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Дата поступления:</strong>
  <%= @book.receipt_date %>
</p>

<%= link_to 'Изменить', edit_book_path(@book) %> |
<%= link_to 'Назад', books_path %>
