<%= form_for(subscriber) do |f| %>
  <% if subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% subscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="edit_table">

  <tr>
    <td><%= f.label :'Библиотека' %></td>
    <td><%= f.number_field :library_id %></td>
  </tr>

  <tr>
    <td><%= f.label :'Номер билета' %></td>
    <td><%= f.number_field :ticket_number %></td>
  </tr>

  <tr>
    <td><%= f.label :'Фамилия' %></td>
    <td><%= f.text_field :last_name %></td>
  </tr>

  <tr>
    <td><%= f.label :'Имя' %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>

  <tr>
    <td><%= f.label :'Отчество' %></td>
    <td><%= f.text_field :patronymic %></td>
  </tr>

  <tr>
    <td><%= f.label :'Адрес' %></td>
    <td><%= f.text_field :address %></td>
  </tr>

  <tr>
    <td><%= f.label :'Телефон' %></td>
    <td><%= f.text_field :phone %></td>
  </tr>

</table>

<div class="actions">
  <%= f.submit('Сохранить') %>
</div>

<% end %>