<p id="notice"><%= notice %></p>

<h1 class = 'table_name'>Таблица: Subscribers</h1>
<div><%= link_to "<button class = 'add_button' type='button'></button>".html_safe, new_subscriber_path %></div>

<table class="table_blur">
  <thead>
    <tr>
      <th>Library</th>
      <th>Ticket number</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Patronymic</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.library_id %></td>
        <td><%= subscriber.ticket_number %></td>
        <td><%= subscriber.last_name %></td>
        <td><%= subscriber.first_name %></td>
        <td><%= subscriber.patronymic %></td>
        <td><%= subscriber.address %></td>
        <td><%= subscriber.phone %></td>
        <td><%= link_to 'Посмотреть', subscriber %></td>
        <td><%= link_to 'Изменить', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Удалить', subscriber, method: :delete,
                        data: { confirm: 'Вы уверены, что хотите удалить запись?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

