<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="../">RoRApplication</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="libraries">Библиотека<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="employees">Сотрудник</a>
      <a class="nav-item nav-link" href="subscribers">Абонент</a>
      <a class="nav-item nav-link" href="books">Книга</a>
      <a class="nav-item nav-link" href="deliveries">Выдача</a>
    </div>
  </div>
</nav>

<h1 class = 'table_name'>Таблица: Абонент</h1>
<div><%= link_to "<button class = 'add_button' type='button'></button>".html_safe, new_subscriber_path %></div>

<table class="table_blur">
  <thead>
    <tr>
      <th>Библиотека</th>
      <th>Номер билета</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Адрес</th>
      <th>Телефон</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.library_id %></td>
        <td><%= subscriber.ticket_number %></td>
        <td><%= subscriber.last_name %></td>
        <td><%= subscriber.first_name %></td>
        <td><%= subscriber.patronymic %></td>
        <td><%= subscriber.address %></td>
        <td><%= subscriber.phone %></td>
        <td><%= link_to 'Посмотреть', subscriber %></td>
        <td><%= link_to 'Изменить', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Удалить', subscriber, method: :delete,
                        data: { confirm: "Все записи связанные с данной будут удалены!
         Вы уверены, что хотите удалить запись?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

