<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= @subscriber.library_id %>
</p>

<p>
  <strong>Ticket number:</strong>
  <%= @subscriber.ticket_number %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @subscriber.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @subscriber.first_name %>
</p>

<p>
  <strong>Patronymic:</strong>
  <%= @subscriber.patronymic %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subscriber.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subscriber.phone %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
